.petCard {
	border: 1px solid black;
	border-radius: 25px;
	padding: 25px;
}

.imgPet {
	width: 300px;
	border-radius: 25px;
}

.petInfo {
	width: 100%;
	font-family: 'Architects Daughter', cursive;
	padding: 25px;
	font-size: 20px;
}
